header{
    background-color: rgba(0, 0, 0, 0.4);
    height: 150px;
    width:100%;
    
}

h1{
    margin: 0;
    padding: 10px;
    color: white;
}

h2{
    padding: 10px;
}

p{
    padding: 10px;
}

body{
    margin: 0;
    padding: 0;
}
 
ul{
    position: relative;
    background: #0e5201;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
}

ul li:hover {
    background-color: #1a8804;
}


/* CONTEINER */

#div_esquerda{
    background-color:white;
    min-height: 200px;
    width: 60%;
    float: left;
    
}

#div_direita{
    background-color:white;
    min-height: 372px;
    width: 40%;
    float: right;
}

footer {
    clear: both;
    background-color:#0e5201;
    height: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 0px 5px;
    color: white;
}


/* CLASSES */

.corpo{
    width: 960px;
    margin: auto;
}

/*Imagens com legenda */

.foto{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}


.foto img{
    width: 100%;
    height: 100%;
}

.foto figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

.foto:hover figcaption{
    opacity: 1;
}








/* ESTILO MULTIMÍDIA*/

#div_mult1{
    background-color: white;
    min-height: 200px;
    width: 50%;
    float: left;
}


#div_mult2{
    background-color:white;
    min-height: 200px;
    width: 50%;
    float: right;
}

.paragrafo{
    margin: 10px 0px 0px 5px;
}

#coleta{
    text-align: center;
}

.foto_comlurb{
    width: 50%;
    height: 50%;
}


footer{
    text-align: center;
}







/* PARTE DE CONTATOS FORMULÁRIO */

.content {
    display: flex;
    justify-content: center;
        
}

.contato{
    width: 100%;
    max-width: 500px;
}

.form{
    display: flex;
    flex-direction: column;
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid silver;
    border-radius: 5px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

textarea{
    height: 150px;
}
